button{
    cursor: pointer;
}

body{
    background-color: black;
    height: auto;
    margin: auto auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height: 500px;
    width: 30vw;
    padding: 2% 0;
    /* background-color: red; */
    background-image:linear-gradient(to bottom right, rgb(181, 41, 194), yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.add{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */

}

.task{
    height: 4vh;
    width: 60%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    margin: auto auto;
    font-size: 1.1rem;
    font-weight: bolder;
}

.task::placeholder{
    color: black;
    
}

.adding{
    height: 4vh;
    width: 20%;
    background-color: purple;
    border: none;
    color: white;
    margin: auto auto;
    cursor: pointer;
    border-radius: 20px;
}

.display{
    margin: auto auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px;
    overflow-y: auto;
    height: 60vh;
    /* box-sizing: border-box; */
    width: 90%;
    padding-top: 5%;
    margin-top: 10%;

}


.todos{
    height: 8vh;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.1rem;
    border: 2px solid;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    margin-bottom: 6%;
    border: none;
    border-radius: 10px;
}
.remove{
    border: none;
    background: none;
    font-size: 0.9rem;
}

.ops{
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.display::-webkit-scrollbar {
    display: none;
}

.filter{
    padding-left: 10px;
    box-sizing: border-box;
    height: 28px;
    width: 27%;
    border: none;
    background-color: lightblue;
    position: absolute;
    top: 580px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 900;
}
.filter::placeholder{
    color: black;
    font-weight: 900;
    text-transform: uppercase;
}

.sp{
    text-transform: capitalize;
    color: red;
}